doctype html
head
    title Warehouse Simulation Cloud
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // ===============================================================================================
    link(rel='icon' type='image/png' href='images/icons/favicon.ico')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='vendor/animate/animate.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='vendor/select2/select2.min.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='vendor/perfect-scrollbar/perfect-scrollbar.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='stylesheets/util.css')
    link(rel='stylesheet' type='text/css' href='stylesheets/main.css')
    // ===============================================================================================
body
    .limiter
        .container-table100
            .wrap-table100
                .table100
                    table
                        thead
                            tr.table100-head
                                th.column1 Date
                                th.column2 Order ID
                                th.column3 Name
                                th.column4 Price
                                th.column5 Quantity
                                th.column6 Total
                        tbody
                            tr
                                td.column1 2017-09-29 01:22
                                td.column2 200398
                                td.column3 iPhone X 64Gb Grey
                                td.column4 $999.00
                                td.column5 1
                                td.column6 $999.00
                            tr
                                td.column1 2017-09-28 05:57
                                td.column2 200397
                                td.column3 Samsung S8 Black
                                td.column4 $756.00
                                td.column5 1
                                td.column6 $756.00
                            tr
                                td.column1 2017-09-26 05:57
                                td.column2 200396
                                td.column3 Game Console Controller
                                td.column4 $22.00
                                td.column5 2
                                td.column6 $44.00
                            tr
                                td.column1 2017-09-25 23:06
                                td.column2 200392
                                td.column3 USB 3.0 Cable
                                td.column4 $10.00
                                td.column5 3
                                td.column6 $30.00
                            tr
                                td.column1 2017-09-24 05:57
                                td.column2 200391
                                td.column3 Smartwatch 4.0 LTE Wifi
                                td.column4 $199.00
                                td.column5 6
                                td.column6 $1494.00
                            tr
                                td.column1 2017-09-23 05:57
                                td.column2 200390
                                td.column3 Camera C430W 4k
                                td.column4 $699.00
                                td.column5 1
                                td.column6 $699.00
                            tr
                                td.column1 2017-09-22 05:57
                                td.column2 200389
                                td.column3 Macbook Pro Retina 2017
                                td.column4 $2199.00
                                td.column5 1
                                td.column6 $2199.00
                            tr
                                td.column1 2017-09-21 05:57
                                td.column2 200388
                                td.column3 Game Console Controller
                                td.column4 $999.00
                                td.column5 1
                                td.column6 $999.00
                            tr
                                td.column1 2017-09-19 05:57
                                td.column2 200387
                                td.column3 iPhone X 64Gb Grey
                                td.column4 $999.00
                                td.column5 1
                                td.column6 $999.00
                            tr
                                td.column1 2017-09-18 05:57
                                td.column2 200386
                                td.column3 iPhone X 64Gb Grey
                                td.column4 $999.00
                                td.column5 1
                                td.column6 $999.00
                            tr
                                td.column1 2017-09-22 05:57
                                td.column2 200389
                                td.column3 Macbook Pro Retina 2017
                                td.column4 $2199.00
                                td.column5 1
                                td.column6 $2199.00
                            tr
                                td.column1 2017-09-21 05:57
                                td.column2 200388
                                td.column3 Game Console Controller
                                td.column4 $999.00
                                td.column5 1
                                td.column6 $999.00
                            tr
                                td.column1 2017-09-19 05:57
                                td.column2 200387
                                td.column3 iPhone X 64Gb Grey
                                td.column4 $999.00
                                td.column5 1
                                td.column6 $999.00
                            tr
                                td.column1 2017-09-18 05:57
                                td.column2 200386
                                td.column3 iPhone X 64Gb Grey
                                td.column4 $999.00
                                td.column5 1
                                td.column6 $999.00
// ===============================================================================================
script(src='vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(src='vendor/bootstrap/js/popper.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(src='vendor/select2/select2.min.js')
// ===============================================================================================
script(src='javascripts/main.js')